[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = {extras = ["full"]}
uvicorn = "*"
peewee = "*"
passlib = "*"
bcrypt = "*"
twilio = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
